sudo: false
language: ruby
rvm:
  - 1.9.3-p551
  - 2.0.0-p648
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
before_install: gem install bundler -v 1.14.6
script: ruby test/informed_test.rb --documentation
